<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmsg.episode.app.system.application.AuthorityMapper">

	<select id="userAuthApp"  resultType="map" parameterType="com.itmsg.episode.app.system.user.User">
		SELECT  
			app_id appId
			,description
			,url
			,(select first_name from esuser where username = Application.create_id) createDisplayName
			,(select first_name updateDisplayName from esuser where username = Application.update_id) updateDisplayName
		FROM application 
		WHERE status='ACTIVE'
		AND app_id IN (
						select 
							app_id
						from roleauth
						where role_id in (select 
									  		role_id 
										  from rolegroup 
										  where  usergroup_id in (select 
										  								usergroup_id 
										  						   from groupuser 
										  						   where username= #{username} 
										  						   and exists (select 1 from usergroup where org_id = #{orgId} and status='ACTIVE' and usergroup_id = groupuser.usergroup_id)
																  )											  
										  )
						or role_id in ( select role_id from roleuser where username = #{username})
						group by app_id
					)
	</select>
	

</mapper>