<!--calendar popup date-->
<div class="calendar-popup-date" style="display: none">
    <div class="film"></div>
    <div class="inner">
        <h2>CALENDAR</h2>
        <a href="#" class="close">close</a>
        <div class="select-wrap clearfix">
            <div class="selected-date">
                <span class="from">From</span>
                <p class="date"><span class="year">2019</span>/<span class="month">05</span>/<span class="date">10</span></p>
                <p class="time"><span class="hour">00</span>:<span class="minute">00</span></p>
                <span class="v-bar"></span>
                <span class="to">To</span>
                <p class="present">Present</p>
                <span class="h-bar"></span>
                <div class="btns">
                    <a href="#" class="cs-btn purple save-chart" style="width: 370px">SAVE DATE & TIME</a>
                </div>
            </div>
            <div class="select-area">
                <span class="set-date">Set Date — From</span>
                <table class="notable" width="100%">
                <colgroup><col width="80" /><col width="*" /></colgroup>
                <tr>
                    <td class="t">Year</td>
                    <td>
                        <div class="years">
                            <a href="#" data-year="2019" class="on">2019</a>
                            <a href="#" data-year="2018">2018</a>
                            <a href="#" data-year="2017">2017</a>
                            <a href="#" data-year="2016">2016</a>
                            <a href="#" data-year="2015">2015</a>
                            <a href="#" data-year="2014">2014</a>
                            <a href="#" data-year="2013">2013</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="t">Month</td>
                    <td>
                        <div class="months">
                            <a href="#" data-month="01" class="on">Jan</a>
                            <a href="#" data-month="02">Feb</a>
                            <a href="#" data-month="03">Mar</a>
                            <a href="#" data-month="04">Apr</a>
                            <a href="#" data-month="05">May</a>
                            <a href="#" data-month="06">Jun</a>
                            <a href="#" data-month="07">Jul</a>
                            <a href="#" data-month="08">Aug</a>
                            <a href="#" data-month="09">Sep</a>
                            <a href="#" data-month="10">Oct</a>
                            <a href="#" data-month="11">Nov</a>
                            <a href="#" data-month="12">Dec</a>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td class="t">Day</td>
                    <td class="dates">
                        <div class="dates">
                            <a href="#" data-date="01" class="on">01</a>
                            <a href="#" data-date="02">02</a>
                            <a href="#" data-date="03">03</a>
                            <a href="#" data-date="04">04</a>
                            <a href="#" data-date="05">05</a>
                            <a href="#" data-date="06">06</a>
                            <a href="#" data-date="07">07</a>
                            <a href="#" data-date="08">08</a>
                            <a href="#" data-date="09">09</a>
                            <a href="#" data-date="10">10</a>
                            <a href="#" data-date="11">11</a>
                            <a href="#" data-date="12">12</a>
                            <a href="#" data-date="13">13</a>
                            <a href="#" data-date="14">14</a>
                            <a href="#" data-date="15">15</a>
                            <a href="#" data-date="16">16</a>
                            <a href="#" data-date="17">17</a>
                            <a href="#" data-date="18">18</a>
                            <a href="#" data-date="19">19</a>
                            <a href="#" data-date="20">20</a>
                            <a href="#" data-date="21">21</a>
                            <a href="#" data-date="22">22</a>
                            <a href="#" data-date="23">23</a>
                            <a href="#" data-date="24">24</a>
                            <a href="#" data-date="25">25</a>
                            <a href="#" data-date="26">26</a>
                            <a href="#" data-date="27">27</a>
                            <a href="#" data-date="28">28</a>
                            <a href="#" data-date="29">29</a>
                            <a href="#" data-date="30">30</a>
                            <a href="#" data-date="31">31</a>
                        </div>
                    </td>
                </tr>
                </table>
                <span class="set-time">Set Time</span>
                <table class="notable">
                    <colgroup><col width="80" /><col width="*" /></colgroup>
                    <tr>
                        <td class="t">Hour</td>
                        <td class="dates">
                            <div class="hours">
                                <a href="#" data-hour="00" class="on">00</a>
                                <a href="#" data-hour="01">01</a>
                                <a href="#" data-hour="02">02</a>
                                <a href="#" data-hour="03">03</a>
                                <a href="#" data-hour="04">04</a>
                                <a href="#" data-hour="05">05</a>
                                <a href="#" data-hour="06">06</a>
                                <a href="#" data-hour="07">07</a>
                                <a href="#" data-hour="08">08</a>
                                <a href="#" data-hour="09">09</a>
                                <a href="#" data-hour="10">10</a>
                                <a href="#" data-hour="11">11</a>
                                <a href="#" data-hour="12">12</a>
                                <a href="#" data-hour="13">13</a>
                                <a href="#" data-hour="14">14</a>
                                <a href="#" data-hour="15">15</a>
                                <a href="#" data-hour="16">16</a>
                                <a href="#" data-hour="17">17</a>
                                <a href="#" data-hour="18">18</a>
                                <a href="#" data-hour="19">19</a>
                                <a href="#" data-hour="20">20</a>
                                <a href="#" data-hour="21">21</a>
                                <a href="#" data-hour="22">22</a>
                                <a href="#" data-hour="03">23</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="t">Minute</td>
                        <td>
                            <div class="minutes">
                                <a href="#" data-minute="00" class="on">00</a>
                                <a href="#" data-minute="10">10</a>
                                <a href="#" data-minute="20">20</a>
                                <a href="#" data-minute="30">30</a>
                                <a href="#" data-minute="40">40</a>
                                <a href="#" data-minute="50">50</a>
                                <a href="#" data-minute="60">60</a>
                            </div>
                        </td>
                    </tr>
                    </table>
            </div>
        </div>
    </div>
</div>




<script>
var CALENDAR_SELECT = {
    // calendar popup date
    calendarPopupDate: function() {
        $('.select-area a').on('click', function(e) {
            let optionValues = [];
            let thisOption = $(this).data();
            $(this).siblings().removeClass('on');
            $(this).addClass('on');

            for (var key in thisOption) {
                optionValues.push([key, thisOption[key]]);
            }
            const opt = optionValues[0][0];
            const optv = optionValues[0][1];
            if(opt === 'year') {
                $('div.selected-date p.date > span.year').text(optv);
            }
            else if(opt === 'month') {
                $('div.selected-date p.date > span.month').text(optv);
            }
            else if(opt === 'date') {
                $('div.selected-date p.date > span.date').text(optv);
            }
            else if(opt === 'hour') {
                $('div.selected-date p.time > span.hour').text(optv);
            }
            else if(opt === 'minute') {
                $('div.selected-date p.time > span.minute').text(optv);
            }
        });
    },
}
</script>