<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
    <section>
        <div class="content-wrap">














<!-- main (data board content-1) -->
<div class="data-board-wrap"><!-- style="display: none"-->
    <!-- area1 -->
    <div class="area1 clearfix">
        <div class="inner-1">
            <p class="titles clearfix">
                <span class="tit physical">Physical Server</span>
                <span class="ea">485<span>ea</span></span>
            </p>
            <div class="stacked-wrap">
                <span class="risk-color-5" style="width: 50%"></span>
                <span class="risk-color-4" style="width: 15%"></span>
                <span class="risk-color-3" style="width: 5%"></span>
                <span class="risk-color-2" style="width: 10%"></span>
                <span class="risk-color-1" style="width: 20%"></span>
            </div>
            <p class="titles clearfix mgt-25">
                <span class="tit switch">Switch</span>
                <span class="ea">62<span>ea</span></span>
            </p>
            <div class="stacked-wrap">
                <span class="risk-color-5" style="width: 15%"></span>
                <span class="risk-color-4" style="width: 20%"></span>
                <span class="risk-color-3" style="width: 5%"></span>
                <span class="risk-color-2" style="width: 50%"></span>
                <span class="risk-color-1" style="width: 10%"></span>
            </div>
        </div>
        <div class="inner-2">
            <p class="titles clearfix">
                <span class="tit virtual">Virtual Server</span>
                <span class="ea">1656<span>ea</span></span>
            </p>
            <div class="stacked-wrap">
                <span class="risk-color-5" style="width: 25%"></span>
                <span class="risk-color-4" style="width: 15%"></span>
                <span class="risk-color-3" style="width: 10%"></span>
                <span class="risk-color-2" style="width: 30%"></span>
                <span class="risk-color-1" style="width: 20%"></span>
            </div>
            <p class="titles clearfix mgt-25">
                <span class="tit router">Router</span>
                <span class="ea">336<span>ea</span></span>
            </p>
            <div class="stacked-wrap">
                <span class="risk-color-5" style="width: 5%"></span>
                <span class="risk-color-4" style="width: 15%"></span>
                <span class="risk-color-3" style="width: 40%"></span>
                <span class="risk-color-2" style="width: 10%"></span>
                <span class="risk-color-1" style="width: 30%"></span>
            </div>
        </div>
        <div class="inner-3">
            <p class="titles clearfix">
                <span class="tit cloud">Cloud Server</span>
                <span class="ea">112<span>ea</span></span>
            </p>
            <div class="stacked-wrap">
                <span class="risk-color-5" style="width: 10%"></span>
                <span class="risk-color-4" style="width: 15%"></span>
                <span class="risk-color-3" style="width: 45%"></span>
                <span class="risk-color-2" style="width: 10%"></span>
                <span class="risk-color-1" style="width: 20%"></span>
            </div>
            <p class="titles clearfix mgt-25">
                <span class="tit bridge">Bridge</span>
                <span class="ea">5<span>ea</span></span>
            </p>
            <div class="stacked-wrap">
                <span class="risk-color-5" style="width: 80%"></span>
                <span class="risk-color-4" style="width: 10%"></span>
                <span class="risk-color-3" style="width: 2%"></span>
                <span class="risk-color-2" style="width: 3%"></span>
                <span class="risk-color-1" style="width: 5%"></span>
            </div>
        </div>
    </div>
    <!-- //area1 -->

    <!-- area2 -->
    <div class="area2">
        <p class="title-bold">Service Response Time</p>
        <ul class="services clearfix">
            <li>
                <span class="service-round risk-color-5">
                    <span class="company-logo intel"></span>
                </span>
                <span class="info">Google / <span>35</span> ms</span>
            </li>
            <li>
                <span class="service-round risk-color-4">
                    <span class="company-logo ibm"></span>
                </span>
                <span class="info">Intel / <span>84</span> ms</span>
            </li>
            <li>
                <span class="service-round risk-color-3">
                    <span class="company-logo intel"></span>
                </span>
                <span class="info">Dell / <span>302</span> ms</span>
            </li>
            <li>
                <span class="service-round risk-color-2">
                    <span class="company-logo ibm"></span>
                </span>
                <span class="info">IBM / <span>137</span> ms</span>
            </li>
            <li>
                <span class="service-round risk-color-1">
                    <span class="company-logo intel"></span>
                </span>
                <span class="info">Avenger / <span>22</span> ms</span>
            </li>
            <li>
                <span class="service-round risk-color-5">
                    <span class="company-logo ibm"></span>
                </span>
                <span class="info">Adidas / <span>70</span> ms</span>
            </li>
            <li>
                <span class="service-round risk-color-4">
                    <span class="company-logo intel"></span>
                </span>
                <span class="info">Apple / <span>39</span> ms</span>
            </li>
            <li>
                <span class="service-round risk-color-3">
                    <span class="company-logo ibm"></span>
                </span>
                <span class="info">Mcdonald / <span>84</span> ms</span>
            </li>
        </ul>
    </div>
    <!-- //area2 -->

    <!-- area3 -->
    <div class="area3 clearfix">
        <div class="left-area">
            <!-- CPU resource map -->
            <div class="tit-area">
                <p class="title-bold">CPU Resource Map</p>
                <span class="right-button">
                    <span class="show-hide-btn"><a href="#" class="print">print</a><a href="#" class="download">download</a><a href="#" class="etcs">etcs</a></span>
                </span>
            </div>
            <div class="real-time">
                <img src="assets/img/temp/cpu.png" alt="" height="390px" width="100%" />
            </div>
            <!-- //CPU resource map -->
        </div>
        <div class="right-area">
            <!-- Performance -->
            <div class="tit-area">
                <p class="title-bold">Perfomace - CPU, Memory, Disk, I/O</p>
                <span class="right-button">
                    <span class="show-hide-btn"><a href="#" class="print">print</a><a href="#" class="download">download</a><a href="#" class="etcs">etcs</a></span>
                </span>
            </div>
            <div class="perfomance clearfix">
                <div class="charts-1">
                    <span class="title">CPU - Top5</span>
                    <div class="chart">
                        <div class="inner">
                            <canvas id="performanceCpuChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="charts-2">
                    <span class="title">Memory - Top5</span>
                    <div class="chart">
                        <div class="inner">
                            <canvas id="performanceMemoryChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="perfomance mgt-25 clearfix">
                <div class="charts-3">
                    <span class="title">DISK - Top5</span>
                    <div class="chart">
                        <div class="inner">
                            <canvas id="performanceDiskChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="charts-4">
                    <span class="title">I/O - Top5</span>
                    <div class="chart">
                        <div class="inner">
                            <canvas id="performanceIoChart"></canvas>
                        </div>
                    </div>
                </div> 
            </div>
            <!-- //Performance -->
        </div>
    </div>
    <!-- //area3 -->

    <!-- area4 -->
    <div class="area4 clearfix">
        <div class="left-area">
            <!-- Topology map -->
            <div class="tit-area">
                <p class="title-bold">Topology Map</p>
                <span class="right-button">
                    <span class="show-hide-btn"><a href="#" class="print">print</a><a href="#" class="download">download</a><a href="#" class="etcs">etcs</a></span>
                </span>
            </div>
            <div class="topology-map">
                <div class="map-search">
                    <div class="select-standard-wrap topo" style="width: 105px;">
                        <select>
                            <option value="member1" selected>Seoul</option>
                            <option value="member2">Seoul2</option>
                            <option value="member3">Seoul3S</option>
                        </select>
                    </div>
                    <div class="select-standard-wrap topo" style="width: 105px;">
                        <select>
                            <option value="member1" selected>Server1</option>
                            <option value="member2">Server2</option>
                            <option value="member3">Server3</option>
                        </select>
                    </div>
                    <div class="select-standard-wrap topo" style="width: 105px;">
                        <select>
                            <option value="member1" selected>Cloud1</option>
                            <option value="member2">Cloud2</option>
                            <option value="member3">Cloud3</option>
                        </select>
                    </div>
                    <div class="select-standard-wrap topo" style="width: 140px;">
                        <select>
                            <option value="member1" selected>SRC-A9817</option>
                            <option value="member2">SRC-A9817</option>
                            <option value="member3">SRC-A9817</option>
                            <option value="member4">SRC-A9817</option>
                            <option value="member5">SRC-A9817</option>
                        </select>
                    </div>
                    <p class="net-line">Network 03  /  Application 05  /  DB 02</p>
                </div>

                <div class="topology-chart">
                    <img src="assets/img/temp/topology.png" alt="" width="100%" />
                </div>
            </div>
            <!-- //Topology map -->
        </div>
        <div class="right-area">
            <!-- DB load -->
            <div class="tit-area">
                <p class="title-bold">DB Load</p>
                <span class="right-button">
                    <span class="show-hide-btn"><a href="#" class="print">print</a><a href="#" class="download">download</a><a href="#" class="etcs">etcs</a></span>
                </span>
            </div>
            <div class="db-load">
                <ul class="clearfix">
                    <li><a href="#" class="on">Server</a></li>
                    <li><a href="#">DB</a></li>
                    <li><a href="#">Cloud</a></li>
                    <li><a href="#">Application</a></li>
                </ul>

                <div class="dbload-chart">
                    <img src="assets/img/temp/dbload.png" alt="" width="100%" />
                </div>
            </div>
            <!-- //DB load -->
        </div>
    </div>
    <!-- //area4 -->
</div>
<!-- //main (data board content-1) -->












</div>
</section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/custom.js"></script>
<script>
performanceCpuChart();
performanceMemoryChart();
performanceDiskChart();
performanceIoChart();
</script>
</body>
</html>