<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
    <section>
        <div class="content-wrap">








<!-- device detail (popup) -->
<div id="deviceDetailPopup" class="full-popup-wrap default_full-popup"><!-- style="display: none"-->
    <div class="film"></div>
    <div class="inner">
        <h2>DEVICE DETAIL <a href="#" class="close">close</a></h2>
        <div class="monitoring-event mgb-30">
            <p class="title">
                <span class="box disk"></span><span class="box os-win"></span> Cloud Server - Dream
                <span class="right-button">
                    <span class="show-hide-btn"><a href="#" class="print">print</a><a href="#" class="download">download</a><a href="#" class="etcs">etcs</a></span>
                </span>
            </p>
            <!--Basic Information-->
            <p class="table-title">Basic Information</p>
            <!-- 테이블로 구획으로 추가 삭제 (column 모양이 상이해도 변경이 쉽게)-->
            <table class="notable monitoring-table three" width="100%">
                <colgroup>
                <col width="100" />
                <col width="200" />
                <col width="100" />
                <col width="200" />
                <col width="100" />
                <col width="*" />
                </colgroup>
                <tr>
                    <th>Type</th>
                    <td>Cloud Server</td>
                    <th>Organization</th>
                    <td>Cloud Server</td>
                    <th>Biz.</th>
                    <td>Episode</td>
                </tr>
                <tr>
                    <th>Service</th>
                    <td>Episode Platform</td>
                    <th>Datasource</th>
                    <td colspan="3">Data source code detail</td>
                </tr>
            </table>
            <table class="notable monitoring-table one" width="100%">
                <colgroup>
                <col width="110" />
                <col width="*" />
                </colgroup>
                <tr>
                    <th>Description</th>
                    <td>Get The Boot A Birds Eye Look Into Mcse Boot Camps</td>
                </tr>
            </table>
            <table class="notable monitoring-table three" width="100%">
                <colgroup>
                <col width="100" />
                <col width="200" />
                <col width="100" />
                <col width="200" />
                <col width="100" />
                <col width="*" />
                </colgroup>
                <tr>
                    <th>Owner (M)</th>
                    <td>June Smith</td>
                    <th>Owner (S)</th>
                    <td>Brian Choi</td>
                    <th>Ower Group</th>
                    <td>Operating Team</td>
                </tr>
            </table>
            <table class="notable monitoring-table two" width="100%">
                <colgroup>
                <col width="170" />
                <col width="250" />
                <col width="170" />
                <col width="*" />
                </colgroup>
                <tr>
                    <th>Manager (M)</th>
                    <td>Dai Jiang</td>
                    <th>Manager (S)</th>
                    <td>Diana Campos</td>
                </tr>
                <tr>
                    <th>Operatior (M)</th>
                    <td>Dusya Sigachyova</td>
                    <th>Operatior (S)</th>
                    <td>Diana Campos</td>
                </tr>
                <tr>
                    <th>Service Manager (M)</th>
                    <td>Higashi Mako</td>
                    <th>Service Manager (S)</th>
                    <td>Homayoun Shakibaii</td>
                </tr>
                <tr>
                    <th>Maint. Manager (M)</th>
                    <td>Yong Tonghyon</td>
                    <th>Maint. Manager (S)</th>
                    <td>Zeng Wen</td>
                </tr>
            </table>


            <!--Device Details-->
            <p class="table-title pdt-40">Device Details</p>
            <table class="notable monitoring-table" width="100%">
                <colgroup>
                <col width="100" />
                <col width="200" />
                <col width="100" />
                <col width="200" />
                <col width="100" />
                <col width="*" />
                </colgroup>
                <tr>
                    <th>Serial No.</th>
                    <td>Cloud Server</td>
                    <th>Manufacturer</th>
                    <td>Cloud Server</td>
                    <th>Model</th>
                    <td>Cloud Server</td>
                </tr>
            </table>
            <table class="notable monitoring-table two" width="100%">
                <colgroup>
                <col width="140" />
                <col width="350" />
                <col width="140" />
                <col width="*" />
                </colgroup>
                <tr>
                    <th>Host Name</th>
                    <td>Cloud Server</td>
                    <th>Hostname Alias</th>
                    <td>Cloud Server</td>
                </tr>
                <tr>
                    <th>IP Address (V6)</th>
                    <td>2001:0230:abcd:ffff:0000:0000:ffff:1111</td>
                    <th>MAC Address</th>
                    <td>00-14-22-01-23-45</td>
                </tr>
                <tr>
                    <th>OS</th>
                    <td>Windows</td>
                    <th>OS Version</th>
                    <td>Server 2012</td>
                </tr>
            </table>
            <table class="notable monitoring-table one" width="100%">
                <colgroup>
                <col width="140" />
                <col width="*" />
                </colgroup>
                <tr>
                    <th>OS Detail</th>
                    <td>Zachys - Auction Catalog (2015)</td>
                </tr>
                <tr>
                    <th>OS Description</th>
                    <td>Glanton meets with Karpman</td>
                </tr>
            </table>
            <table class="notable monitoring-table two" width="100%">
                <colgroup>
                <col width="200" />
                <col width="280" />
                <col width="240" />
                <col width="*" />
                </colgroup>
                <tr>
                    <th>Firmware Version</th>
                    <td>v2.1</td>
                    <th>Network Interface Info.</th>
                    <td>Public</td>
                </tr>
                <tr>
                    <th>Network Interface Num.</th>
                    <td>8ea</td>
                    <th>CPU Type</th>
                    <td>Intel</td>
                </tr>
                <tr>
                    <th>CPU Speed</th>
                    <td>3.8 Ghz</td>
                    <th>CPU Description</th>
                    <td>Cloud Server</td>
                </tr>
                <tr>
                    <th>Thread Type</th>
                    <td>Hyper</td>
                    <th>Processr Num.</th>
                    <td>8ea</td>
                </tr>
                <tr>
                    <th>Hyperthreading</th>
                    <td>ON</td>
                    <th>Cores per CPU</th>
                    <td>Quad</td>
                </tr>
                <tr>
                    <th>Total Cores</th>
                    <td>Quad</td>
                    <th>Total Logical Processor Num.</th>
                    <td>8ea</td>
                </tr>
                <tr>
                    <th>Memory Type</th>
                    <td>DRAM</td>
                    <th>Memory Num.</th>
                    <td>8ea</td>
                </tr>
                <tr>
                    <th>Total Memory (GB)</th>
                    <td>256GB</td>
                    <th>Total Swap (GB)</th>
                    <td>64GB</td>
                </tr>
                <tr>
                    <th>Internal Disk Info.</th>
                    <td>Raid</td>
                    <th>Internal Disk Num.</th>
                    <td>No.112</td>
                </tr>
                <tr>
                    <th>Total Internal Disk (GB)</th>
                    <td>1.2TB</td>
                    <th>External Storage Info.</th>
                    <td>Raid</td>
                </tr>
                <tr>
                    <th>External Storage Num.</th>
                    <td>No. 189</td>
                    <th>Total External Storage (GB)</th>
                    <td>128GB</td>
                </tr>
                <tr>
                    <th>DR</th>
                    <td>Off</td>
                    <th>HA</th>
                    <td>Off</td>
                </tr>
                <tr>
                    <th>Manage</th>
                    <td>On</td>
                    <th>Delete</th>
                    <td>Off</td>
                </tr>
            </table>
            
            <!--User Comment-->
            <p class="table-title pdt-40 nobd">User Comment</p>
            <textarea class="formdata" style="width: 100%;" placeholder="Type your comment"></textarea>
        </div>
    </div>
</div>
<!-- //device detail -->









</div>
</section>
</div>
</body>
</html>            