<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
    <section>
        <div class="content-wrap">












<!-- event Monitoring force (Popup) -->
<div id="eventMonitoringForce" class="full-popup-wrap default_full-popup" style="display: none">
    <div class="film"></div>
    <div class="inner">
        <h2>EVENT - Cloud Server <a href="#" class="close">close</a></h2>
        <div class="monitoring-event">
            <p class="title">Steps In Installing Rack Mount Lcd Monitors</p>
            <p class="paragraph">
                With so many different ways today to find information online, it can sometimes be hard to know where to go to first. I want to look at the major and most effective ways to find information online. The biggest and most commonly used method is to use a search and most commonly engine.
            </p>
            <!--Event Detail-->
            <p class="table-title pdt-40">Event Detail</p>
            <!-- 테이블로 구획으로 추가 삭제 (column 모양이 상이해도 변경이 쉽게)-->
            <table class="notable monitoring-table" width="100%">
                <colgroup>
                <col width="90" />
                <col width="250" />
                <col width="70" />
                <col width="220" />
                <col width="90" />
                <col width="*" />
                </colgroup>
                <tr>
                    <th>Hostname</th>
                    <td>Cloud - Dream</td>
                    <th>Type</th>
                    <td>Cloud Server</td>
                    <th>Severity</th>
                    <td><span class="severity-level critical"></span>Critical</td>
                </tr>
                <tr>
                    <th>IP Address</th>
                    <td>23.11.34.244</td>
                    <th>Time</th>
                    <td>2019.05.23 - 23h 21m 37s</td>
                    <th>Count</th>
                    <td>2 times</td>
                </tr>
            </table>
            <table class="notable monitoring-table" width="100%">
                <colgroup>
                <col width="180" />
                <col width="260" />
                <col width="130" />
                <col width="*" />
                </colgroup>
                <tr>
                    <th>First Occurence (Original)</th>
                    <td>Local Time - 23h 21m 37s</td>
                    <th>First Occurence</th>
                    <td>Server Time - 23h 21m 37s</td>
                </tr>
            </table>
            <table class="notable monitoring-table" width="100%">
                <colgroup>
                <col width="90" />
                <col width="*" />
                </colgroup>
                <tr>
                    <th>Message</th>
                    <td>The biggest and most commonly used method is to use a search and most commonly engine.</td>
                </tr>
            </table>
            <!--Ark Detail-->
            <p class="table-title pdt-40">Ark Detail</p>
            <table class="notable monitoring-table" width="100%">
                <colgroup>
                <col width="355" />
                <col width="220" />
                <col width="*" />
                </colgroup>
                <tr>
                    <td>
                        <span class="s-t mgr-15">Active</span>
                        <span class="radio-wrap">
                            <label class="checkbox-switch">
                                <input type="checkbox" checked />
                                <span class="slider round"></span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <span class="s-t mgr-15 dp-b">Ack. User</span>
                        <input type="text" class="formdata" style="width: 100%;" value="Brian Park" />
                    </td>
                    <td>
                        <span class="s-t mgr-15 dp-b">Ack. Time</span>
                        <input type="text" class="formdata" style="width: 100%;" value="2019.05.23 - 23h 40m" />
                    </td>
                </tr>
            </table>
            <!--Close Detail-->
            <p class="table-title pdt-40">Close Detail</p>
            <table class="notable monitoring-table" width="100%">
                <colgroup>
                <col width="355" />
                <col width="220" />
                <col width="*" />
                </colgroup>
                <tr>
                    <td>
                        <span class="s-t mgr-15">Active</span>
                        <span class="radio-wrap">
                            <label class="checkbox-switch">
                                <input type="checkbox" />
                                <span class="slider round"></span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <span class="s-t mgr-15 dp-b">Ack. User</span>
                        <input type="text" class="formdata" style="width: 100%;" placeholder="Type text" />
                    </td>
                    <td>
                        <span class="s-t mgr-15 dp-b">Ack. Time</span>
                        <input type="text" class="formdata" style="width: 100%;" placeholder="Type text" />
                    </td>
                </tr>
            </table>
            <!--User Comment-->
            <p class="table-title pdt-40 nobd">User Comment</p>
            <textarea class="formdata" style="width: 100%;" placeholder="Type your comment"></textarea>

            <div class="btn-center">
                <a href="#" class="cs-btn purple">CREATE A REPORT</a> <a href="#" class="cs-btn purple disabled">SAVE</a>
            </div>
        </div>
    </div>
</div>
<!-- //event Monitoring force (Popup) -->










</div>
</section>
</div>
</body>
</html>