<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">











<!-- gate -->
<div class="gate-wrapper"><!-- style="display: none"-->
    <!-- gate header -->
    <div class="login-header clearfix">
        <h1></h1>
        <span class="f"></span>
    </div>
    <!-- gate section -->
    <div class="login-section">
        <div class="line-login-left"></div>
        <div class="line-login-right"></div>
        <div class="login-wrap">
            <span class="login-center-txt"></span>
            <p class="login-text">
                Sony laptops are among the most well known laptops on today's<br />
                market. Sony is a name that over time has established itself<br />
                creating a solid product with a stellar reputation. In addition to all the good<br />
                press that Sony has, Sony is known for making the best 'small' laptops. 
            </p> 
            <div class="form-wrap">
                <input type="text" id="userId" class="form-nude" placeholder="ID" onkeyUp="PJT.loginKeyCheck()" />
                <input type="password" id="passWd" class="form-nude" placeholder="Password" onkeyUp="PJT.loginKeyCheck()" />
            </div>
            <a href="#" class="login-button" onclick="PJT.loginButtonSubmit()">LOGIN</a>
        </div>
        <div class="intro-bg">
            <div id="sequenceArea" class="intro-image" onclick="PJT.skipIntroAnimation()">
                <!-- <video width="540" height="181" autoplay id="playintro">
                    <source src="assets/img/login/intro.mp4" type="video/mp4">
                    <source src="assets/img/login/intro.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video> -->
            </div>
        </div>
        <div class="image-dimmed"></div>
        <div class="image-bg"></div>
    </div>
    <!-- gate footer -->
    <div class="login-footer">
        <span class="f"><a href="#">episode v2.0</a></span>
        <span class="s"><a href="#">Apply ID</a><span>|</span><a href="#">Find ID / Password</a></span>
        <span class="t"><a href="#">Inquiry</a></span>
    </div>
</div>
<!-- //gate -->




<script>
let GATE = {
    introAnimationStart: function() {
        let sequenceStart = 1;
        let position = 0;
        const interval = 25;
        const diff = 176;
        const sequencesize = 24640;
        if(sequenceStart == 1) {
            sequenceStart = setInterval(() => {
                document.getElementById('sequenceArea').style.backgroundPosition = `0px -${position}px`;
                if(position < sequencesize) {
                    position = position + diff;
                }
                else {
                    position = 0;
                    clearInterval(sequenceStart);
                }
            }, interval);
        }
    },
    skipIntroAnimation: function() {
        PJT.loadImageRandom();
        $('.intro-bg').fadeOut('slow');
    },
    loadImageRandom: function() {
        var imageClass = ['type-1'];
        $('.image-bg').addClass(imageClass[Math.floor(Math.random() * imageClass.length)]).addClass('on');
        $('.login-wrap').fadeIn(1500, function() {
            $('.login-header, .login-footer').addClass('on');
            $('.login-wrap input#userId').focus();
            PJT.loginKeyCheck();
        });
    },
    loginKeyCheck: function() {
        if($('#userId').val() !== '' && $('#passWd').val() !== '') {
            $('.login-wrap .form-wrap, a.login-button').addClass('on');
        }
        else {
            $('.login-wrap .form-wrap, a.login-button').removeClass('on');
        }
    },
    scrollPlugIn: function() {
        
    },
    loginButtonSubmit: function() {
        $('div.gate-wrapper').fadeOut('fast');
        return false;
    },
}
</script>













</div>
</body>
</html>