<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
<section>
    <div class="content-wrap">








<!-- SEARCH (modal popup)-->
<!--<b-modal id="modalTempSearch" hide-header="true" hide-footer="true" dialog-class="modal-search-wrap" style="display: none;">  vuejs boostrap 으로 인하여 적용불가하며, 확인용으로만 아래의 소스로 대체-->
<b-modal id="modalTempSearch" hide-header="true" hide-footer="true" dialog-class="modal-search-wrap" style="position: absolute; left: 50%; top: 50%; margin: -307px 0 0 -485px; z-index: 10;">
    <div class="modal-wrap modal-search modal-dialog" role="document">
        <div class="modal-content">
            <div class="search-header clearfix">
                <span class="zoom"></span>
                <input type="text" class="s" id="deviceSearchInput" placeholder="Use tab to switch or type devices, events, reports" /></p>
                <p class="f">
                    <a href="#" class="left">preview</a><span>ALL</span><a href="#" class="right">next</a><!-- All, Device, Event, Report -->
                </p>
            </div>
            <div class="search-typeword">
                    <p>Use <strong>Tab Key</strong> to switch categories <span>|</span> Type words - device name & type, event title&type, report title, date, user name etc.</p>
            </div>
            <ul class="search-list">
                <li>
                    <p class="f">
                        <span class="box disk"></span><span class="box os-win"></span><span class="dvc">Web Server - Dream</span>
                    </p>
                    <span class="etcs">
                        <a href="#" class="add">add device</a><a href="#" class="warn" onclick="PJT.lnbInformation()">information</a>
                    </span>
                </li>
                <li>
                    <p class="f">
                        <span class="box cloud"></span><span class="box os-linux"></span><span class="dvc">Cloud Server - Stone</span>
                    </p>
                    <span class="etcs">
                        <a href="#" class="add on">add device</a><a href="#" class="warn" onclick="PJT.lnbInformation()">information</a>
                    </span>
                </li>
                <li>
                    <p class="f">
                        <span class="box copy"></span><span class="box os-mark"></span><span class="dvc">Oracle DB Server</span>
                    </p>
                    <span class="etcs">
                        <a href="#" class="add on">add device</a><a href="#" class="warn" onclick="PJT.lnbInformation()">information</a>
                    </span>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="icon zap"></span>
                        <p class="paragraph">
                            <span class="up"><strong>Cloud Server</strong> CPU performance is getting up to 70%</span>
                            <span class="down">From <strong>Dream</strong>&nbsp; - &nbsp;20 Mar 2019</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="icon minus"></span>
                        <p class="paragraph">
                            <span class="up"><strong>Day Report</strong> Daily report of web server - dream</span>
                            <span class="down">Create by <strong>System</strong>&nbsp; - &nbsp;20 Mar 2019</span>
                        </p>
                    </div>
                    <span class="etcs">
                        <a href="#" class="down on">download</a><a href="#" class="email" onclick="PJT.sendEmailReport()">email</a>
                    </span>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="icon minus"></span>
                        <p class="paragraph">
                            <span class="up"><strong>User Report</strong> Web Server - Sky (20 Mar 2019 - 29 Mar 2019)</span>
                            <span class="down">Create by <strong>BrianPark</strong>&nbsp; - &nbsp;20 Mar 2019</span>
                        </p>
                    </div>
                    <span class="etcs">    
                        <a href="#" class="down on">download</a><a href="#" class="email" onclick="PJT.sendEmailReport()">email</a>
                    </span>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="icon minus"></span>
                        <p class="paragraph">
                            <span class="up"><strong>Day Report</strong> Daily report of web server - dream</span>
                            <span class="down">Create by <strong>System</strong>&nbsp; - &nbsp;20 Mar 2019</span>
                        </p>
                    </div>
                    <span class="etcs">
                        <a href="#" class="down on">download</a><a href="#" class="email" onclick="PJT.sendEmailReport()">email</a>
                    </span>
                </li>
                <li>
                    <p class="f">
                        <span class="box cloud"></span><span class="box os-linux"></span><span class="dvc">Cloud Server - Stone</span>
                    </p>
                    <span class="etcs">
                        <a href="#" class="add on">add device</a><a href="#" class="warn">information</a>
                    </span>
                </li>
                <li>
                    <p class="f">
                        <span class="box copy"></span><span class="box os-mark"></span><span class="dvc">Oracle DB Server</span>
                    </p>
                    <span class="etcs">
                        <a href="#" class="add on">add device</a><a href="#" class="warn">information</a>
                    </span>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="icon zap"></span>
                        <p class="paragraph">
                            <span class="up"><strong>Cloud Server</strong> CPU performance is getting up to 70%</span>
                            <span class="down">From <strong>Dream</strong>&nbsp; - &nbsp;20 Mar 2019</span>
                        </p>
                    </div>
                </li>
            </ul>
            <div class="search-result">
                <p>
                    <strong>Search Result</strong><span>120 devices</span><span>24 events</span><span>38 reports</span>
                </p>
            </div>
        </div>
    </div>
</b-modal>
<!-- //SEARCH -->








</div>
</section>
</div>
</body>
</html>