<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">







<!-- header -->
<header class="clearfix">
    <a href="#" class="monitor header-monitor" onmouseover="HEADER.headerMonitoryShow();" onmouseout="HEADER.headerMonitoryHide()">Monitoring Graph</a>
    <div class="product-btn clearfix" onmouseover="HEADER.headerMonitoryShow();" onmouseout="HEADER.headerMonitoryHide()">
        <span class="refresh"></span>
        <div class="texts">
            <p class="f">Ticket.Force</p>
            <p class="s">Communcation Product</p>
        </div>
    </div>

    <h1 class="logo"><a href="main.html">Monitoring.Force</a></h1>
    <span class="loading">Loading</span><!-- loading bar ( class 'on' toggle ) -->
    <div class="header-info">
        <ul class="clearfix">
            <!--<li><a href="#" class="a" v-b-modal.modalTempSearch>search</a></li> vuejs 인하여 적용불가 확인용으로 임시로 아래것으로 대체-->
            <li><a href="#" class="a" onclick="HEADER.globalSearch()">search</a></li>
            <li><a href="#" class="b" onclick="HEADER.lnbMonitoringShow()"></a></li>
            <li><a href="#" class="c notice-show-hide" onmouseover="HEADER.headerNoticeShow();" onmouseout="HEADER.headerNoticeHide()">notice<span class="alram-round"></span></a></li>
            <li><a href="admin.html" class="d">control</a></li>
            <li><a href="#" class="profile-show-hide" onmouseover="HEADER.headerProfileShow();" onmouseout="HEADER.headerProfileHide()"><img src="assets/img/temp/picture.png" width="100%" /></a></li>
        </ul>
    </div>

    <!--user information-->


    <!--notification list-->
    
    <div class="header-shadow"></div>
</header>
    




<script>
let HEADER = {
    headerMonitoryShow: function() {
        $('header .product-btn').addClass('on');
    },
    headerMonitoryHide: function() {
        $('header .product-btn').removeClass('on');
    },
    headerProfileShow: function() {
        $('div.personal-list-wrap').stop().fadeIn('fast');
    },
    headerProfileHide: function() {
        $('div.personal-list-wrap').stop().fadeOut('fast');
    },
    headerNoticeShow: function() {
        $('div.notice-list-wrap').stop().fadeIn(300);
    },
    headerNoticeHide: function() {
        $('div.notice-list-wrap').stop().fadeOut(300);
    },
}
</script>







</div>
</body>
</html>