<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
    <section>










<!-- find ID / Password -->
<div class="find-idpw-popup"><!-- style="display: none"-->
    <a href="#" class="close-btn">close</a>
    <div class="title">
        <span>Find ID / Password</span>
        <p>You can find ID and reset Password.</p>
    </div>
    <div class="input-wrap clearfix">
        <div class="f">
            <p class="tit">Find Your ID</p>
            <div class="form-comp">
                <span class="tit">Name</span>
                <input type="text" class="formdata" style="width: 100%;" placeholder="ex) 홍길동" />
            </div>
            <div class="form-comp mgt-20">
                <span class="tit">Company Email</span>
                <input type="text" class="formdata" style="width: 100%;" placeholder="abc@company.com" />
            </div>
            <div class="btn-area"><a class="cs-btn purple">FIND ID</a></div>
        </div>  
        <div class="s">
            <p class="tit">Reset Your Password</p>
            <div class="form-comp">
                <span class="tit">ID</span>
                <input type="text" class="formdata" style="width: 100%;" placeholder="Episode ID" />
            </div>
            <p class="para mgt-20">We will send an email inclouded a link for<br />reseting your new password.</p>
            <div class="btn-area"><a class="cs-btn purple">APPLY</a></div>
        </div>
    </div>
</div>
<!-- //find ID / Password -->










</section>
</div>
</body>
</html>