<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
    <section>









<!-- Reset new Password -->
<div class="reset-pw-popup"><!-- style="display: none" -->
    <a href="#" class="close-btn">close</a>
    <div class="title">
        <span>Reset New Password</span>
        <p>Set your new password following below roles.</p>
    </div>
    <div class="input-wrap clearfix">
        <div class="reset-pw">
            <div class="form-comp">
                <span class="tit">New Password</span>
                <input type="text" class="formdata" style="width: 100%;" placeholder="Password" />
            </div>
            <div class="form-comp mgt-20">
                <span class="tit">Confirm Password</span>
                <input type="text" class="formdata" style="width: 100%;" placeholder="Password" />
            </div>
            <p class="details">
                - Your Password must contain at least 8 characters.
                - You can use special characters and numbers.
            </p>
            <div class="btn-area"><a class="cs-btn purple">RESET</a></div>
        </div>  
    </div>
</div>
<!-- Reset new Password -->










</section>
</div>
</body>
</html>