<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
    <section>
        <div class="content-wrap">










<!--Add Charts-->
<div class="lnb-tools-wrap add-charts lnb-content_popup"><!-- style="display: none"-->
    <div class="tools-container">
        <div class="tools-content">
            <p class="title">ADD CHARTS</p>
            <ul class="charts-list">
                <li class="clearfix">
                    <span class="ico trend">trending up</span>
                    <p>Realtime Monitoring Chart</p>
                    <span class="radio-wrap">
                        <label class="checkbox-switch">
                            <input type="checkbox" />
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
                <li class="clearfix">
                    <span class="ico bar">trending up</span>
                    <p>Memory Perfomance Chart</p>
                    <span class="radio-wrap">
                        <label class="checkbox-switch">
                            <input type="checkbox" checked />
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
                <li class="clearfix">
                    <span class="ico pie">trending up</span>
                    <p>CPU Performace Chart</p>
                    <span class="radio-wrap">
                        <label class="checkbox-switch">
                            <input type="checkbox" />
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            </ul>
            <div class="btns">
                <a href="#" class="cs-btn purple save-chart">SAVE CHARTS</a>
            </div>
        </div>
        <div class="tools-tip"></div>
    </div>
</div>








</div>
</section>
</div>
</body>
</html>