<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
    <section>
        <div class="content-wrap">








<!--Create a report-->
<div class="lnb-tools-wrap create-report lnb-content_popup"><!-- style="display: none"-->
    <div class="tools-container">
        <div class="tools-content">
            <p class="title">CREATE A REPORT</p>
            <div class="type-comment">
                <textarea class="formdata" maxlength="100" placeholder="Type your comment for this report"></textarea>
                <p>You can put your comment in the report document<br />when it’s created.</p>
            </div>
            <span class="double--line"></span>
            <div class="email clearfix">
                <span>E-mail</span>
                <input type="text" class="formdata create-report-email" />
            </div>
            <span class="double--line"></span>
            <div class="btns">
                <a href="#" class="cs-btn purple a">CREATE</a><a href="#" class="cs-btn purple b">CREATE & DOWNLOAD</a><a href="#" class="cs-btn purple c" style="display: none">CREATE & SENT EMAIL</a>
            </div>
        </div>
        <div class="tools-tip"></div>
    </div>
</div>











</div>
</section>
</div>
</body>