<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
    <section>
        <div class="content-wrap">









<!-- popup -->
    <!--Thank you for applying-->
    <div class="tiny-popup-wrap"><!--style="display: none"-->
        <a href="#" class="close-btn">close</a>
        <span class="popup-img check"></span>
        <p class="paragraph">
            <strong class="normal">Thank you for applying</strong>
            <span class="normal">Dealing With Technical Support 10 Useful Tips</span>
        </p>
        <div class="popup-btn-center">
            <a href="#" class="cs-btn green">BUTTON</a>
        </div>
    </div>
    <!--//Thank you for applying-->
    <!--Do you want to delete?-->
    <div class="tiny-popup-wrap" style="display: none">
        <a href="#" class="close-btn">close</a>
        <span class="popup-img delete"></span>
        <p class="paragraph">
            <strong class="normal">Do you want to delete?</strong>
            <span class="normal">Dealing With Technical Support 10 Useful Tips</span>
        </p>
        <div class="popup-btn-center">
            <a href="#" class="cs-btn green">BUTTON</a>
        </div>
    </div>
    <!--//Do you want to delete?-->
    <!--Something Wrong Number-->
    <div class="tiny-popup-wrap" style="display: none">
        <a href="#" class="close-btn">close</a>
        <span class="popup-img warn"></span>
        <p class="paragraph">
            <strong class="normal">Something Wrong Number</strong>
            <span class="normal">Can you try to login with right your ID and Password?</span>
        </p>
        <div class="popup-btn-center">
            <a href="#" class="cs-btn green">BUTTON</a>
        </div>
    </div>
    <!--//Something Wrong Number-->
    <!--Created the Weekly Report-->
    <div class="tiny-popup-wrap" style="display: none">
        <a href="#" class="close-btn">close</a>
        <span class="popup-img info"></span>
        <p class="paragraph">
            <strong class="normal">Created the Weekly Report</strong>
            <span class="normal">WordPress Version 2 0 3 Review</span>
        </p>
        <div class="popup-btn-center">
            <a href="#" class="cs-btn green">BUTTON</a>
        </div>
    </div>
    <!--//Created the Weekly Report-->

    <!--only text-->
    <div class="tiny-popup-wrap" style="display: none">
        <a href="#" class="close-btn">close</a>
        <p class="paragraph-only">
            Get The Boot A Birds Eye Look Into Mcse Boot Camps
        </p>
        <div class="popup-btn-center">
            <a href="#" class="cs-btn green">BUTTON</a>
        </div>
    </div>
    <!--only text-->
<!-- //popup -->












</div>
</section>
</div>
</body>
</html>