<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
    <section>
        <div class="content-wrap">










<!-- tiny popup 문구와 클레스명이 변합니다.-->
    <!--tiny wifi-->
    <div class="tiny-side-tooltip"><!--보여질때, 없어질때 class "on" 토글-->
        <a href="#" class="close-btn">close</a>
        <p class="paragraph-tiny wifi">
            Dvd Replication For Dummies 4 Easy Steps To Professional Dvd Replication
        </p>
    </div>
    <!--//tiny wifi-->

    <!--tiny alert-->
    <div class="tiny-side-tooltip"><!--보여질때, 없어질때 class "on" 토글-->
        <a href="#" class="close-btn">close</a>
        <p class="paragraph-tiny some-alert">
            Dvd Replication For Dummies 4 Easy Steps To Professional Dvd Replication
        </p>
    </div>
    <!--//tiny alert-->
<!-- //tiny popup -->










</div>
</section>
</div>
</body>
</html>