<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
<section>
<div class="content-wrap">
<!-- report -->
<div class="report-list-wrap">
<!-- report detail -->
<div class="report-detail">
<div class="detail-wrap">












<!-- report/event2 -->
<div class="report-start"><!-- style="display: none"-->
    <div class="header clearfix">
        <span class="f">30 Apr 2019</span>
        <span class="s">Event Report</span>
        <span class="t">Create by System</span>
    </div>

    <p class="line-title mgb-0">Event Detail</p>
    <!-- 테이블로 구획으로 추가 삭제 (column 모양이 상이해도 변경이 쉽게)-->
    <table class="notable report-table" width="100%">
        <colgroup>
        <col width="90" />
        <col width="250" />
        <col width="70" />
        <col width="220" />
        <col width="90" />
        <col width="*" />
        </colgroup>
        <tr>
            <th>Hostname</th>
            <td>Cloud - Dream</td>
            <th>Type</th>
            <td>Cloud Server</td>
            <th>Severity</th>
            <td><span class="severity-level critical"></span>Critical</td>
        </tr>
        <tr>
            <th>IP Address</th>
            <td>23.11.34.244</td>
            <th>Time</th>
            <td>2019.05.23 - 23h 21m 37s</td>
            <th>Count</th>
            <td>2 times</td>
        </tr>
    </table>
    <table class="notable report-table" width="100%">
        <colgroup>
        <col width="180" />
        <col width="260" />
        <col width="130" />
        <col width="*" />
        </colgroup>
        <tr>
            <th>First Occurence (Original)</th>
            <td>Local Time - 23h 21m 37s</td>
            <th>First Occurence</th>
            <td>Server Time - 23h 21m 37s</td>
        </tr>
    </table>
    <table class="notable report-table" width="100%">
        <colgroup>
        <col width="90" />
        <col width="*" />
        </colgroup>
        <tr>
            <th>Message</th>
            <td>The biggest and most commonly used method is to use a search and most commonly engine.</td>
        </tr>
    </table>  
    
    <div class="clearfix report-col-2">
        <div class="sect">
            <p class="tit">Ark Detail</p>
            <ul>
                <li class="clearfix">
                    <span class="f">Ark. User</span>
                    <span class="s">Brian Park</span>
                </li>
                <li class="clearfix">
                    <span class="f">Ark. Time</span>
                    <span class="s">2019.05.23 - 23h 40m</span>
                </li>
            </ul>
        </div>
        <div class="sect">
            <p class="tit">Close Detail</p>
            <ul>
                <li class="clearfix">
                    <span class="f">Close. User</span>
                    <span class="s">Brian Park</span>
                </li>
                <li class="clearfix">
                    <span class="f">Close. Time</span>
                    <span class="s">2019.05.23 - 23h 40m</span>
                </li>
            </ul>
        </div>
    </div>

    <p class="line-title">Issue Detail</p>
    <div class="comment-view">
        <textarea class="formdata" placeholder="Type your Issue detail for this report"></textarea>
    </div>

    <p class="line-title">Follow-Up</p>
    <div class="comment-view">
        <textarea class="formdata" placeholder="Type your follow-up detail for this report"></textarea>
    </div>

    <p class="line-title">Related Event</p>
    <ul>
        <li class="related-events clearfix">
            <div class="f">
                2019.05.20<br />
                03h 29m 12s
            </div>
            <div class="s">
                <div class="time-bar green">
                    <!-- left circle-->
                    <span class="first-circle green"></span>
                    <!-- right circle-->

                    <span class="server-name">Cloud Server</span>
                    <span class="server-status">Steps In Installing Rack Mount Lcd Monitors</span>
                </div>
                <a href="#" class="remove"></a>
            </div>
        </li>
        <li class="related-events clearfix">
            <div class="f">
                2019.05.20<br />
                03h 29m 12s
            </div>
            <div class="s">
                <div class="time-bar red">
                    <!-- left circle-->
                    <span class="first-circle red-play"></span>
                    <!-- right circle-->

                    <span class="server-name">Cloud Server</span>
                    <span class="server-status">Steps In Installing Rack Mount Lcd Monitors, Steps In Installing Rack Mount Lcd Monitors</span>
                </div>
                <a href="#" class="remove"></a>
            </div>
        </li>
    </ul>
    <a class="cs-btn purple mgt-20">ADD RELATED EVENT</a>
</div>
<!-- //report/event2 -->















</div>
</div>
</div>
</div>
</section>
</div>
</body>
</html>