<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
<section>
<div class="content-wrap">
<!-- report -->
<div class="report-list-wrap">
<!-- report detail -->
<div class="report-detail">
<div class="detail-wrap">











<!-- report/event frontpage -->
<div class="report-start front">
    <span class="logo"></span>
    <p class="title">Event<br />Report</p>
    <p class="sub-tit">by monitoring.force</p>
    <p class="bottom-tit">Created by System</p>
    <span class="date">APRIL - 2019</span>
    <span class="purple-line"></span>
</div>
<!-- //report/event frontpage -->










</div>
</div>
</div>
</div>
</section>
</div>
</body>
</html>