<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
<section>
<div class="content-wrap">
<!-- report -->
<div class="report-list-wrap">










<!-- report left list -->
<div class="report-lists">
    <div class="report-list-scroll">
        <ul class="report-tabs clearfix">
            <li><a href="#">All Report</a></li>
            <li><a href="#">Monthly</a></li>
            <li><a href="#">Event</a></li>
        </ul>
        <ul class="report-list">
            <li>
                <div class="report-inner clearfix">
                    <div class="re m"></div>
                    <div class="inner">
                        <p class="f">
                            Entire Devices
                        </p>
                        <p class="s">
                            Create by System
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="report-inner clearfix">
                    <div class="re e"></div>
                    <div class="inner">
                        <p class="f">
                            Entire Devices
                        </p>
                        <p class="s">
                            Create by System
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- //report left list -->









</div>
</div>
</section>
</div>
</body>
</html>