<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
<section>
<div class="content-wrap">
<!-- report -->
<div class="report-list-wrap">
<!-- report detail -->
<div class="report-detail">
<div class="detail-wrap">











<!-- report/monthly4 -->
<div class="report-start"><!-- style="display: none"-->
    <div class="header clearfix">
        <span class="f">30 Apr 2019</span>
        <span class="s">Monthly Report  -  April 2019</span>
        <span class="t">Create by System</span>
    </div>

    <p class="line-title">Comment</p>
    <div class="comment-view">
        Most people who work in an office environment, buy computer products, or have a computer at home have had the “fun” experience of dealing with technical support. It’s not always the easiest, or most pleasant, experience but hopefully this article will help you make the best of the situation the next time you call. Below you will find a list of things to keep in mind the next time your computer breaks down. 1.Stay calm – Don’t yell at the support person on the other end of the phone. He is there only to help and the more angry you are the less help you are going to get.
        2.Get to the point – Ask your question or explain your situation right away. Don’t beat around the bush.
        3.Don’t be arrogant – You are calling technical support because you need help. Don’t try and be a smart guy. 4.Call for yourself – Don’t call for a friend, relative, or coworker. It’s very difficult, for the person trying to help you, when you are repeating information that you got from someone else. 5.Stay at the computer – Make sure you are at the computer with the problem when you call. It’s hard for someone to help you through a problem if don’t have access to the computer. 6.Record the error – If you are calling about an error you saw, make sure you write it down. It’s hard for someone to help you if all you can say is “There was a box on my screen that had writing in it”.
    </div>
</div>
<!-- //report/monthly4 -->













</div>
</div>
</div>
</div>
</section>
</div>
</body>
</html>