<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<div id="app" class="wrapper">
    <section>










<!-- user search (popup) -->
<div class="user-search-wrap">
    <a href="#" class="close-btn">close</a>
    <div class="title">
        <span>User Search</span>
        <p>Find users who you want to input</p>
    </div>
    <div class="find-select-wrap clearfix">
        <div class="find">
            <p class="tit">Find User</p>
            <div class="inner">
                <div class="tp">
                    <input type="input" class="search-input" placeholder="Search Data" /><a href="#" class="search">search</a>
                </div>
                <div class="list-wrap">
                    <ul>
                        <li class="clearfix">
                            <span class="picture"><img src="../assets/img/temp/picture.png" alt="" /></span>
                            <p class="info">
                                <span class="name">James April</span>
                                <span class="jobs">Historian</span>
                            </p>
                        </li>
                        <li class="clearfix on">
                            <span class="picture"><img src="../assets/img/temp/picture2.png" alt="" /></span>
                            <p class="info">
                                <span class="name">James Base</span>
                                <span class="jobs">Computer Support Specialist</span>
                            </p>
                        </li>
                        <li class="clearfix">
                            <span class="picture"><img src="../assets/img/temp/picture3.png" alt="" /></span>
                            <p class="info">
                                <span class="name">James Tailor</span>
                                <span class="jobs">Compliance Officer</span>
                            </p>
                        </li>
                        <li class="clearfix">
                            <span class="picture"><img src="../assets/img/temp/picture4.png" alt="" /></span>
                            <p class="info">
                                <span class="name">Jonadan Smith</span>
                                <span class="jobs">Epidemiologist</span>
                            </p>
                        </li>
                        <li class="clearfix">
                            <span class="picture"><img src="../assets/img/temp/picture5.png" alt="" /></span>
                            <p class="info">
                                <span class="name">June Mary</span>
                                <span class="jobs">Architect</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="both-trans">
            <a href="#" class="trans-right">select</a><br /><a href="#" class="trans-left">remove</a>
        </div>
        <div class="find">
            <div class="inner">
                <div class="tp">
                    <input type="input" class="search-input" placeholder="Search Data" /><a href="#" class="search">search</a>
                </div>
                <div class="list-wrap">
                    <ul>
                        <li class="clearfix">
                            <span class="picture"><img src="../assets/img/temp/picture2.png" alt="" /></span>
                            <p class="info">
                                <span class="name">James April</span>
                                <span class="jobs">Historian</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-center pdt-35">
        <a class="cs-btn purple">SAVE</a>
    </div>
</div>
<!-- //user search (popup) -->










</section>
</div>
</body>
</html>